html, body {
    width: 100%;
    height: 100%;
    background-color: rgb(203, 203, 203);
    font-family: 'Black Ops One', cursive;
}

header {
    margin-top: 20px;
}

#title, #side-bar {
    background-color: black;
    color: white;
    padding: 0px;
    border: solid 3px white;
    padding: 3px;
}

#side-bar {
    background-image: url("../images/background.jpeg");
    padding: 20px;
}

#title h1 {
    font-size: 30px;
    font-family: 'Black Ops One', cursive;
}

form {
    padding: 8px;
    border-bottom: solid 3px white;
}
form label {
    text-align: center;
    font-size: 20px;
}

#list {
    align-items: center;
}

#list h1{
    font-family: 'Black Ops One', cursive;
}

form {
    align-items: center;
    font-size: 40px;
    
}

main {
    display: flex;
    min-height: 100%;
}

.list{
    width: 100%;
    margin: 20px;
}

nav{
    min-height: 100%;
    width: 300px;
    background-color: black;
    color: white;
}
nav p {
    margin: 20px 7px;
}

ul {
    width: 100%;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    background-color: rgba(0, 0, 0, .7);
    color: #FCB795;
}

li {
    list-style: none;
    background-color: rgba(0,0,0,.5);
    margin: 10px;
    width: 100%;
    text-align: center;
    padding: 10px;
}

.eventName {
    font-size: 22px;
}

.eventLocation {
    font-size: 18px;
    font-style: italic;
}

.eventDate {
    font-size: 15px;
}

.user {
    background-color: lightgray;   
    padding: 10px;
    border-radius: 5px;
}

.user:hover {
    background-color: white;
    cursor: pointer;
}

.loginForm, .signUpForm{
    font-size: 17px;
}

.loginForm input, .signUpForm input{
    height: 25px;
}